/* google font  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* start header  */
body{
    margin:0px;
    font-family: 'Poppins', sans-serif;
    background:  #E5E5E5;;
}

.top-header{
    background:#562EFF;
    height:94px;
}
.parent-div{
    width:870px;
    margin: auto;
}
.parent-div .logo-div img{
    width:40px;
}

.child-top-player h4{
    margin-left: 16px;
}

.logo-div{
    display:flex;
    float:left;
    width:200px;
    align-items: center;
    margin-top:24px;
}

.logo-div span{
    margin-left:15px;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
}

.logo-div span a{
    text-decoration: none;
    color:white;
}

.child-div{
    display:flex;
    float:right;
    align-items: center;
    margin-top:22px;
}

.child-div ul li a{
    text-decoration:none;
    color:white;
    font-weight: 400;
    font-size: 16px;
    margin-right: 36px;
}

.child-div ul{
    list-style:none;
    display:flex;
}
/* end header  */

/* start top player  */

.top-section{
    background: white;
    margin-top: 57px;
    padding: 0px 30px;
}

.top-text{
    color:#562EFF;
    font-size: 24px;
    font-weight:500;
    padding: 12px 0px;
}

.chairld-blog{
    margin-bottom: 26px;
}

.all-players{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.child-top-player{
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}

.child-top-player img{
    width:56px;
}

hr{
    border: 0.5px solid #D1D1D1;
}

/* end top player  */
/* start top blog  */
.top-blog{
    margin: 30px 0px;
}
.all-rap{
    display: flex;
    justify-content: space-between;
}

.all-blog{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.chairld-blog{
    display: flex;
}

.blog-thamble img{
    width:177px;
}

.blog-info{
    width: 164px;
}

.blog-info h4{
    margin:0px 0px 0px 16px ;
}

.blog-info p{
    margin:0px 0px 0px 16px ;
    margin-top: 22px;;
}

.blog-info p a{
    font-size: 14px;
    text-decoration: none;
    color: #562EFF;
}

.blog-info p span{
    font-size: 16px;
    color: #9F9F9F;
}
/* end top blog */

/* start course  */

.cours-info{
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}

.lat-course{
    width: 245px;
    border-radius: 10px;
    box-shadow: 1px 3px 4px 0px #b6b6b6;
    padding-top: 10px;
    padding-left: 10px;
}

.lat-course img{
    width:224px;
}

.lat-course h4{
    font-size: 20px;
    margin:20px 0px 10px 0px;
}

.name-cos{
    font-size: 14px;
    color: #ED6B4F;
}

.ster-yelo{
    color: #FFC014;
    font-size: 10px;
}

.spasil{
    color:#AEAEAE ;
    font-size: 10px;
}

.time{
    color:#A2A2A2;
    font-size: 12px;
}

.colock{
    color:#ED6B4F ;
    margin-right: 20px;
    font-size: 14px;
    background: #FFE4E8;
    border-radius: 15px;
    padding:3px 5px;
}

/* end course  */
/* start  footer */
.food-bot{
    background:#3100ff;
}

.food-div{
    text-align: center;
    padding-top: 35px;
    color: white;
}
/* end footer  */